@use '../../food.module.scss';

.container {
    width: 60px;
    border-radius: food.$size-spacing-3;
    background-color: food.$primary-200;
    box-shadow: food.$shadow;
    cursor: pointer;
    height: 60px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    transition: height 300ms ease-in, width 300ms ease-in,
        background-color 300ms ease-in;

    &.expanded {
        background-color: white;
        width: 450px;
        height: 85vh;
        cursor: auto;
    }
}

.icon {
    position: absolute;
    transition: position 300ms ease-in, transform ease-in 300ms,
        fill 300ms ease-in;
    bottom: 20.5px;
    right: 20.5px;
    & > svg {
        fill: white;
        width: 20px;
        height: 20px;
    }

    &.expanded {
        & > svg {
            fill: food.$primary-200;
        }

        transform: rotate(45deg);
        cursor: pointer;
    }
}
