@use '../../food.module.scss';

.headerIcon {
    cursor: pointer;
    & > svg {
        height: 20px;
        width: 20px;
        fill: food.$primary-200;
    }
    &:hover {
        & > svg {
            fill: food.$primary-100;
        }
    }
}

.content {
    width: 100%;
    height: 100%;
    box-sizing: border-box;

    padding: food.$size-spacing-2 food.$size-spacing-2 60px food.$size-spacing-2;
    display: flex;
    flex-direction: column;
    gap: food.$size-spacing-2;

    &.hidden {
        visibility: hidden;
    }
}

.searchContent {
    padding: food.$size-spacing-2;
}

.searchResultContainer {
    overflow-y: scroll;
    border-radius: food.$size-spacing-3;
    height: 80%;
}
.title {
    padding-bottom: 5px;
    font-weight: 600;
    border-bottom: solid food.$border-color food.$border-thickness;
    display: flex;
    gap: 5px;
    & > svg {
        fill: food.$text;
        width: 20px;
        height: 20px;
    }
}

.groceriesList {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    margin-bottom: food.$size-spacing-1;
}

.noGroceries {
    height: 100%;
    padding: 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: food.$size-spacing-3;
    font-style: italic;
    color: food.$placeholder;
}

.searchIcon {
    cursor: pointer;
    & > svg {
        fill: food.$primary-200;
        width: 20px;
        height: 20px;
    }

    &:hover {
        & > svg {
            fill: food.$primary-100;
        }
    }
}
.buttonGroup {
    display: flex;
    justify-content: center;
    gap: food.$size-spacing-1;
}

.saveButton {
    background-color: food.$save-200;
    &:hover {
        background-color: food.$save-100;
    }
}

.listItem {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding-right: 20px;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 55px;
}

.nutritionsGroup {
    height: 0px;
    font-size: small;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    overflow: hidden;
    transition: height 200ms ease-out;

    &.expanded {
        height: 65px;
    }

    & > ul {
        margin: 0;
        margin-top: 5px;
    }
}

.leftContent {
    display: flex;
    gap: food.$size-spacing-1;
    color: grey;
}

.moreInfoIcon {
    cursor: pointer;
    transition: transform 200ms ease-in-out;
    & > svg {
        fill: food.$primary-200;
        width: 25px;
        height: 25px;
    }

    &:hover {
        & > svg {
            fill: food.$primary-100;
        }
    }

    &.expanded {
        transform: rotate(180deg);
    }
}

.checkInput {
    width: 100%;
    position: relative;

    & > span > input {
        padding-right: 40px;
    }
}

.check {
    position: absolute;
    & > svg {
        fill: food.$primary-200;
    }

    top: 22.5px;
    right: 20px;
    cursor: pointer;
    &:hover {
        & > svg {
            fill: food.$primary-100;
        }
    }
}

.information {
    height: 55px;
    padding: food.$size-spacing-1;
    padding-left: food.$size-spacing-2;
    padding-right: food.$size-spacing-2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: italic;
    font-size: small;
}

.editName {
    display: flex;
    justify-content: flex-end;
    width: 50%;
    gap: food.$size-spacing-1;
    border-bottom: solid food.$border-color food.$border-thickness;

    &.hasName {
        justify-content: space-between;
    }
}
