@use '../food.module.scss';

.authenticationContainer {
    width: 1000px;
    height: 450px;
    background-color: food.$secondary;
    outline: food.$border-thickness solid food.$border-color;
    outline-offset: -3px;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.15);
    border-radius: food.$size-spacing-3;
    display: flex;
    position: relative;
    transition: height 400ms;

    &.moreHeight {
        height: 600px;
    }
}

.title {
    font-family: food.$font-title;
    font-weight: 100;
}

.ingress {
    font-size: 12px;
    color: white;
    font-weight: bold;
    padding: food.$size-spacing-1;
    position: absolute;
    top: 85%;
}

.illustrationContainer {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    transition: left 400ms;

    &.leftAligned {
        left: 0;
        right: 50%;
    }
    &.rightAligned {
        left: 50%;
        right: 0;
    }
}

.card {
    width: 50%;
    height: 100%;
    border-radius: food.$size-spacing-3;
    outline: food.$border-thickness solid food.$border-color;
    outline-offset: -3px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top: 0;
    transition: left 400ms;

    &.leftAligned {
        right: 50%;
        left: 0;
    }
    &.rightAligned {
        left: 50%;
        right: 0;
    }
}

.bigTitle {
    font-family: food.$font-title;
    font-size: 35px;
}

.inputGroup {
    display: flex;
    flex-direction: column;
    gap: food.$size-spacing-3;
    justify-content: center;
    align-items: center;
    width: 65%;
}

.buttonGroup {
    display: flex;
    gap: food.$size-spacing-1;
    justify-content: center;
    align-items: center;
}

.feedbackContainer {
    width: 65%;
}

.hidden {
    visibility: hidden;
    position: absolute;
    opacity: 0;
}

.showing {
    transition: visibility 400ms, opacity 400ms;
    visibility: visible;
    position: relative;
    opacity: 1;
}
