@use '../food.module.scss';

.groceryContainer {
    position: relative;
    background-color: white;
    max-height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: food.$size-spacing-1;
    padding-left: food.$size-spacing-2;
    padding-right: food.$size-spacing-2;
}

.optionsGroup {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: food.$size-spacing-2;
}

.button {
    width: 30px;
    height: 30px;
}

.icon {
    & > * {
        fill: food.$primary-200;
    }

    &:hover {
        & > * {
            fill: food.$primary-100;
        }
    }

    cursor: pointer;
    width: 35px;
    height: 35px;
}
