@use '../../food.module.scss';

.homepageContainer {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 0.33fr 0.33fr 0.33fr;
    grid-template-rows: 100%;
    padding: 0 food.$size-spacing-3 food.$size-spacing-3 food.$size-spacing-3;
    box-sizing: border-box;
    column-gap: food.$size-spacing-3;
}
.shoppinglist {
    grid-column-start: 1;
    grid-column-end: 2;
}

.mealTimeline {
    grid-column-start: 2;
    grid-column-end: 3;
}
