@use '../../food.module.scss';

.nutritionGoalWrapper {
    height: 200%;
    width: 100%;
    transition: transform 400ms ease-in-out;
}

.nutritionGoal {
    height: 50%;
    width: 100%;
    padding: food.$size-spacing-2;
    box-sizing: border-box;
}

.createNutritionGoal {
    height: 50%;
    width: 100%;
    padding: food.$size-spacing-2;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.cardHeader {
    display: flex;
    justify-content: space-between;
    font-weight: 600;
}

.optionsIcon {
    cursor: pointer;
    width: 25px;
    height: 25px;
    & > * {
        fill: food.$grey-200;

        &:hover {
            & > * {
                fill: food.$grey-100;
            }
        }
    }
}

.content {
    height: calc(100% - 29px);
    padding-top: 8px;
    width: 100%;
    display: flex;
    gap: food.$size-spacing-2;
}

.leftContent {
    width: 30%;
    margin-top: food.$size-spacing-1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.rightContent {
    width: 70%;

    &:not(:last-child) {
        margin-bottom: food.$size-spacing-2;
    }
}

.sliderContainer {
    width: 100%;
}

.sliderHeader {
    display: flex;
    justify-content: space-between;
    font-size: small;
    margin-bottom: food.$size-spacing-1;
}
